{% extends 'base.html.twig' %}

{% block title %}Frontpage{% endblock %}

{% block body %}
    <h1>Frontpage</h1>
    <div>
        <ul>
            <li>First name: {{ first_name }}</li>
            <li>Last name: {{ last_name }}</li>
            <li>Hrtime: {{ hrtime }}</li>
        </ul>
    </div>
{% endblock %}